@import url('https://fonts.googleapis.com/css2?family=Inter:wght@95..920&family=Lato:ital,wght@0,95;0,300;0,400;0,700;0,920;1,95;1,300;1,400;1,700;1,920&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@95..400&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;

}

/* FIRST PAGE STARTS HERE */

.first-page-container
{
    font-family: "Inter", sans-serif;
    width: 1350px;
    height: 680px;

    /* border: 2px solid red; */
}

.first-page-nav
{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 46px;
    top: 57px;
    left: 192px;
    gap: 0px;
    /* border: 2px solid red; */
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);

}

.left-nav
{
    color: rgba(230, 83, 60, 1);
    font-size: 30px;

    /* margin: 150px 150px 0px 150px; */
    

}

.right-nav
{
   display: flex;
   gap: 20px;
   width: 400px;
   height: 48px;
   border: 1px solid rgba(255, 255, 255, 0.281);
   border-radius: 100px;
   color: rgba(255, 255, 255, 1);
}

.nav-btn-oo
{
    width: 92px;
height: 40px;
padding: 10px 20px 10px 20px;
gap: 10px;
border-radius: 46px;
background-color: rgba(230, 83, 60, 1);
border-style: none;
margin-top: 4px;



}

.nav-btn-one
{
    width: 92px;
height: 38px;
padding: 10px 20px 10px 20px;
gap: 10px;
border-radius: 46px;
border-style: none;
background-color: transparent;
margin-top: 4px;

}

.first-page-rest
{
    display: flex;
    gap: 60px;
}

.first-page-desc
{
    width: 599.05px;
  height: 440px;
  /* border: 2px solid red; */
  margin-top: 92px;
  margin-left: 140px;
}

.single-text
{
    font-family: "Playwrite BE VLG", cursive;

}

.first-page-img
{
    width: 300px;
  height: 500px;
  /* border: 2px solid red; */
  margin-top: 50px;
  /* margin-bottom: 10px; */
}

.first-img
{
    width: 300px;
    height: 500px;
}



.btn-one
{
    font-family: "Inter", sans-serif;
    width: 235px;
height: 50px;
padding: 16px 40px 30px 40px;
/* gap: 20px; */
border-radius: 42px;
font-size: 16px;
border-style: none;

}

.float-one
{
    font-family: "Inter", sans-serif;
  width: 192px;
  height: 80px;
  border-radius: 12px;
  position: relative;
  left: 750px;
  bottom: 150px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
}

.float-two
{
    font-family: "Inter", sans-serif;
  width: 150px;
  height: 75px;
  border-radius: 12px;
  position: relative;
  left: 950px;
  bottom: 500px;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
}

.for-mobile
{
    height: 20px;
    width: 20px;
    color: white;
    display: none;
    margin-top: 29px;
    margin-left: 120px;
}

@media screen and (max-width: 526px) 
{

    .first-page-container
    {
        width: 100%;
        height: 100%;
    }

    .for-mobile
    {
        width: 100%;
        height: 100%;
        display: block;
        

    }

    .right-nav
    {
        display: none;
    }
    
    .nav-btn-oo
    {
       
        display: none;
    }

    .nav-btn-one
    {
        
        display: none;
    }

    .first-page-rest
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .first-page-desc
    {
       width: 50%;
       height: 50%;
       text-align: left;
       margin-left: 0px;
    }

    .float-one
    {
        width: 50%;
        height: 50%;
        position: inherit;
        top: 50px;
    }

    .float-two
    {
        width: 50%;
        height: 50%;
        position: inherit;
    }
    }


}

/* SECTION TWO STARTS HERE */

.second-page-container
{
    font-family: "Inter", sans-serif;
    width: 1092px;
    height: 452px;
    top: 815px;
    left: 198px;
    gap: 58px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-color: black;
    margin-top: 50px;

}


.second-page-description
{
    text-align: center;
   
}

.second-page-description>h1
{
   font-size: 37px;
   margin-bottom: 20px;
}

.second-page-description>p
{
    color: rgba(255, 255, 255, 0.397);
   margin-bottom: 45px;
}

.inside-images
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    
}

@media screen and (max-width: 526px) 
{

    .second-page-container
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        width: 100%;
    }

    .second-page-description
    {
        height: 90%;
        width: 90%;
        text-align: left;
        margin-left: 0px;
    }

    .inside-images
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/* THIRD SECTION BEGINS HERE. */

.third-page-container
{
    width: 1060px;
    height: 371px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 40px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 20px;
}

.third-page-elements
{
    display: flex;
    justify-content: space-around;
    background-color: rgba(34, 34, 34, 1);

}


.third-description
{
    width: 443px;
    height: 292px;
    /* border: 2px solid red; */
    margin-top:  42px;
    font-family: "Inter", sans-serif;
    background-color: rgba(34, 34, 34, 1);
}

.third-description>h1
{
    background-color: rgba(34, 34, 34, 1);
}

.third-description>p
{
    background-color: rgba(34, 34, 34, 1);
}



.third-images
{
    width: 366px;
    height: 300px;
    /* border: 2px solid red; */
    margin-top:  38px;
    background-color: rgba(34, 34, 34, 1);
}

.third-images>img
{
    width: 366px;
    height: 300px;
    max-height: 95%;
    object-fit: none;
    object-position: 66% 30%;
    border-radius: 20px;
}

.third-description>button
{
    width: 224px;
  height: 54px;
   padding: 16px 40px 16px 40px;
   gap: 10px;
  border-radius: 42px;
  background-color: rgba(230, 83, 60, 1);
  border-style: none;
  font-size: 18px;
}

@media screen and (max-width: 526px) 
{
    .third-page-container
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        width: 100%;
    }

    .third-page-elements
    {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .third-description
    {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: left;
        margin-left: 0px;
    }

    .third-images
    {
        margin-top: 80px;
        height: 90%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}

/* FOURTH PAGE STARTS FROM HERE */

.headers-desc
{
    font-family: "Inter", sans-serif;
    width: 671px;
    height: 120px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;

}

.challenge-section-container
{
    font-family: "Inter", sans-serif;
    width: 1350px;
    height: 487px;
    /* border: 2px solid red; */
    background-color: rgba(34, 34, 34, 1);
    margin-top: 80px;
    display: flex;
    gap: 120px;

}

.inside-head-one
{
  width: 443px;
  height: 34px;
  /* border: 2px solid red; */
  color: rgba(255, 255, 255, 1);
  margin-top: 70px;
  margin-left: 80px;
  font-size: 19px;
  text-align: center;
  background-color: rgba(34, 34, 34, 1);

}

.inside-head-one>h1
{
    background-color: rgba(34, 34, 34, 1);

}

.bmi-chart
{
    background-color: rgba(34, 34, 34, 1);
}


table,th,td
{
    /* width: 310px;
    height: 216px; */
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(34, 34, 34, 1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 15px;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-collapse: collapse;
    margin-top: 65px;
    margin-left: 79px;
}

td
{
    color: rgba(255, 255, 255, 0.5);

}

.calculate-bmi
{
    background-color: transparent;
    font-family: "Inter", sans-serif;
    width: 577px;
    height: 366px;
    /* border: 1px solid red; */
    margin-top: 70px;
    
}

.calculate-bmi>h1
{
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
}

.calculate-bmi>p
{
    background-color: rgba(34, 34, 34, 1);
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.input-boxes
{
    display: flex;
    margin-top: 40px;
    background-color: transparent;

   
}

.input-boxes>input
{
    background-color: transparent;
    
    
}

.inside-input-boxes-first
{
    width: 285px;
    height: 58px;
    max-width: 100%;
    border-radius: 10px;
    padding-left: 13px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.253); 
    border-style: none;
    /* color: rgba(255, 255, 255, 0.884); */
    color: white;
    font-size: 17px;

  
}



.inside-input-boxes-last
{
    width: 575px;
    height: 58px;
    border-radius: 10px;
    padding-left: 13px;
    margin-top: 10px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.253);
    border-style: none;
    color: rgba(255, 255, 255, 0.938);
}


.calculate-btn
{
    width: 210px;
    height: 50px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    border-style: none;
    font-size: 18px;
}


@media screen and (max-width: 526px) 
{

    .inside-head-one
    {
        height: 100%;
        width: 100%;
        text-align: left;
        margin-left: 0px;

    }
    .challenge-section-container
    {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .table-bmi
    {
        margin-top: 40px;
        margin-left: 0px;
        height: 60%;
        width: 60%;
    }

    .calculate-bmi
    {
       margin-top: 0px;
       height: 60%;
        width: 60%;
    }

    .inside-input-boxes-first
    {
        height: auto;
        width: auto;

    }

    .inside-input-boxes-last
    {
        height: auto;
        width: auto;

    }
}




/* MEET OUR TEAM CONTAINER */

.meet-our-team-container
{
    font-family: "Inter", sans-serif;
}

.header-desc-bar
{
    width: 671px;
    height: 120px;
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.header-desc-bar>h1
{
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: bolder;

}

.header-desc-bar>p
{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 18px;
    font-size: 16px;
}

.picture-section
{
    width: 1060px;
    height: 90%;
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
    padding: 22px;

}

.inside-picture-section
{
    width: 95%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    margin-left: 5px;
    opacity: 0.9;
    position: relative;
}

.for-image-text
{
    position: absolute;
    top: 2950px;
    left: 180px;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: rgb(245, 235, 235);

}

@media screen and (max-width: 526px) 
{
    .header-desc-bar
    {
        width: 100%;
        text-align: left;
        
    }



    .picture-section
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: left;
    }

    .inside-picture-section
    {
        width: 100%;
    }
}


/* FOOTER SECTION STARTS HERE */


.final-section-container
{
    font-family: "Inter", sans-serif;
    width: 1350px;
    height: 487px;
    /* border: 2px solid red; */
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    
}

.to-make-flex
{
    display: flex;
    background-color: transparent;
}


.left-side-container
{
    width: 443px;
    height: 176px;
    /* border: 2px solid red; */
    background-color: transparent ;
    margin-top: 85px;
    margin-left: 130px;
}


.left-side-container>h1
{
    background-color: transparent ;
    color: rgba(230, 83, 60, 1);
    font-size: 70px;
    margin-bottom: 20px;
    font-style: italic;

}


.left-side-container>p
{
    background-color: transparent ;
    color: rgba(255, 255, 255, 0.5);

}

.right-side-container
{
    width: 514px;
    height: 249px;
    /* border: 2px solid red; */
    margin-top: 85px;
    margin-left: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.inside-left
{
    width: 181px;
    height: 247px;
    /* border: 2px solid rgba(119, 0, 255, 0.993); */
    background-color: transparent;
}

.inside-left>h1
{
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-top: 5px;


}

.inside-left>h3
{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;

}



.inside-right
{
    width: 181px;
    height: 247px;
    /* border: 2px solid rgba(119, 0, 255, 0.993); */
    background-color: transparent;
}

.inside-right>h1
{
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-top: 5px;


}

.inside-right>h3
{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;

}


#last-line-breaker
{
    margin-top: 35px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    width: 80%;
    margin-left: 120px;
}

#last-line
{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 40px;
    font-size: 20px;

}


@media screen and (max-width: 526px) 
{
    .final-section-container
    {
        width: 100%;
        height: 100%;
    }

    .to-make-flex
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .left-side-container
    {
        width: 50%;
        height: 50%;
        text-align: left;
        margin-left: 20px;
    }

    .right-side-container
    {
        width: 50%;
        height: 50%;
        text-align: left;
        margin-left: 20px;
    }

    #last-line-breaker
    {
        width: 50%;
        height: 50%;
        text-align: left;
        margin-left: 20px;

    }

    #last-line
    {
        width: 50%;
        height: 50%;
        text-align: left;
        margin-left: 20px;

    }
}